page-categorias {

    img{
        transform: scale(0.75);
        
    }

    .center-div{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
